html, body {
    height: 100%;
    margin: 0;
  }
  
  .Main {
    background-color: aliceblue;
    height: 100%;
    padding: 0 100px 200px 100px;
  }
  
  .personalContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
  }
  
  
  .contact {
    margin-top: 40px;
  }
  
  .devSwiper{
    width: 100%;
  }

  .Main .personalContainer p, .Main .personalContainer a{
    color: black;
    font-size: 25px;
    font-weight: 700;
  }

  