
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper{
  width: 110%;
}


.swiper-slide {
  height: 200px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1.223px solid #C3C3C3;
  background: #FFF;
}


.hrefText {
  font-size: 25px;
}

.customSwiperSlide{
  box-sizing: border-box;
  padding: 20px;
}



